@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@import "./reset.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.container {
  margin: 0 auto; 
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dropdown {
  width: 285px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px;

  &__label {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(27, 43, 65, 0.72);
    margin-bottom: 7px;
  }

  &__button {
    position: relative;
    display: inline-flex;
    width: 100%;
    text-align-last: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    padding: 8px 33px 6px 10px;
    background-color: #ffffff;
    color: rgba(24, 39, 58, 0.94);
    border: 1px solid rgba(#193b67, 0.1);
    outline: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: all ease 0.5s;
  }

  &__button:focus {
    outline: 1px solid rgba(#1676f3, 0.5);
    background-color: rgba(26, 56, 96, 0.1);   
    color: rgba(24, 39, 58, 0.94);
  }
  
  &__button:hover{
    outline: 1px solid rgba(#1676f3, 0.5);
    color: rgba(24, 39, 58, 0.94);
   
  }

  .js-active {
    color: rgba(28, 48, 74, 0.5);
    outline: 1px solid rgba(#1676f3, 0.5);
    background-color: rgba(26, 56, 96, 0.1);
  }

  &__button::before {
    position: absolute;
    z-index: 1;
    content: "";
    background-image: url(./assets/images/button-arrow.svg);
    width: 14px;
    height: 8px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

  &__list {
    position: absolute;
    z-index: 2;
    display: none;
    left: 0;
    top: 65px;
    max-height: 226px;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid rgba(25, 59, 103, 0.05);
    box-shadow: 0px 8px 24px -4px rgba(28, 50, 79, 0.38),
      0px 2px 6px -1px rgba(28, 55, 90, 0.16);
    border-radius: 4px;
    padding: 5px 5px 5px 5px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  &__list::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &__list--item {   
    position: relative;      
    line-height: 26px;
    color: rgba(24, 39, 58, 0.94);
    padding: 5px 16px 5px 26px;
    cursor: pointer;
    background-color: rgba(#ffffff, 0.1);
  }
  
  .checked.dropdown__list--item::after {
    position: absolute;
    content: "";
    background-image: url(./assets/images/list__item--checked.svg);
    background-repeat: no-repeat;
    object-fit: cover;
    width: 10px;
    height: 9px;
    top: 50%;
    left: 9px;
    transform: translateY(-50%);
  }

  &__list--item:hover {
    border-radius: 4px;
    background-color: rgba(#1676f3, 0.1);
  }

  .js-visible {
    display: block;
  }
}
